<div class="container mx-auto my-8 px-4">
  <!-- Main 3 column grid -->
  <main class="pb-8">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Main 3 column grid -->
      <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-3">
          <!-- Summary panel -->
          <section aria-labelledby="profile-overview-title">
            <div class="rounded-lg bg-white overflow-hidden shadow-lg">
              <div class="bg-white p-6 pt-4 flex lg:justify-between lg:flex-row flex-wrap sm:flex-nowrap">
                <div class="sm:flex sm:items-center sm:justify-between w-full">
                  <div class="sm:flex">
                    <div class="flex-shrink-0">
                    </div>
                    <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                      <div class="flex flex-row items-center">
                        <!-- Contact avatar -->
                        <div class="flex-shrink-0 h-10 w-10">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                          </svg>
                        </div>
                        <p class="text-xl font-bold text-gray-900 sm:text-2xl pl-4">
                          <%= @address&.full_address %>
                        </p>
                        <%= link_to 'Edit', edit_address_path(@address), class: "btn btn-link" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex w-full lg:justify-end md:justify-end justify-evenly">
                  <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                    <div class="flex flex-row items-center">
                      <!--                      <div class="px-4 py-2 text-m font-medium border shadow rounded-full text-green-600 bg-green-100 border-green-400">-->
                      <%#= @appointment.appointment_status.capitalize %>
                      <!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm font-medium text-gray-600 py-1 px-6 hidden">
                <span class="font-medium text-gray-900">
                    Scheduled Date:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                    <%= local_time(@address.created_at) %>
                </span>
              </p>
              <div class="border-t border-gray-200 bg-gray-50 grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-4 sm:divide-y-0 sm:divide-x">
                <!--4 Bottom sections on top card-->
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                     Created At:
                    </span>
                    <span class="text-gray-600">
                      <%= local_time(@address.created_at) %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                     Type:
                    </span>
                    <span class="text-gray-600">
                    <%= @address.address_type ? @address.address_type.capitalize : 'Undefined' %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                    TBD:
                    </span>
                    <span class="text-gray-600">
                   TBD
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                    TBD:
                    </span>
                    <span class="text-gray-600">
                   TBD
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2">
          <!-- Members panel -->
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">Contacts</p>
                <% if @address.contacts.length > 0 %>
                  <% @address.contacts.each.each do |contact| %>
                    <%= link_to contact.name, contact_path(contact.id), class: "text-gray-600" %>
                  <% end %>
                <% else %>
                  <p>No Contacts</p>
                <% end %>
              </div>
            </div>
          </section>
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">Map</p>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <div class="grid grid-span-3 gap-4">
          <!--          Needs to be updated-->
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl pb-4">Appointments</p>
                <div class="flow-root ">
                  <% if @address.appointments.count > 0 %>
                    <% @address.appointments.each do |appointment| %>
                      <div class="inline-flex w-full h-full my-2 items-center justify-center pl-6 bg-white border rounded-md border-<%= appointment.status_color %>-200">
                        <p class="w-1/2 h-full text-sm leading-none text-gray-800">
                          <%= link_to "#{appointment.appointment_type} - #{date_mdy(appointment.start_at)}", appointment, class: "w-full btn-link no-underline capitalize text-gray-700" %>
                        </p>
                        <div class="flex items-center justify-center flex-1 h-full bg-<%= appointment.status_color %>-100 rounded-tr-md rounded-br-md">
                          <p class="h-full text-sm font-medium leading-snug text-center text-<%= appointment.status_color %>-700 px-2 py-1">
                            <%= appointment.appointment_status.humanize %>
                            <%#= TODO: Update the rest of the colors https://www.pivotaltracker.com/story/show/178094538 %>
                          </p>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <p>No appointments scheduled</p>
                  <% end %>
                </div>
              </div>
            </div>
          </section>

          <section class="mt-8">
            <div class="rounded-lg bg-white overflow-hidden shadow-lg">
              <div class="p-6">
                <p class="text-xl font-medium text-gray-900 sm:text-2xl">Notes</p>
                <div class="flow-root mt-6">
                  <!--TODO: ADD CUSTOM ELEMENTS HERE FOR THIS SECTION-->
                  <div class="flow-root">
                    <ul class="-mb-8 list-none">
                      <li class="border-b-2 border-gray-400 mb-4">
                        <% if allowed_to?(:manage?, @new_note) %>
                          <%= render partial: "notes/form", locals: { note: @new_note } %>
                        <% end %>
                      </li>
                    </ul>
                    <div class="overflow-y-auto mt-8 pt-3">
                      <% @address.notes.each do |note| %>
                        <%= render partial: "notes/note", locals: { note: note, last: note == @address.notes.last } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>

