<div class="mx-auto my-4 px-1 md:px-2 lg:px-4">
  <div class="flow-root lg:mb-4 <%= 'hidden' if !@incoming_webhooks.any? && allowed_to?(:create?, IncomingWebhook, with: IncomingWebhookPolicy ) %>">
    <%= link_to t("shared.scaffold.new.title", model: "Incoming Webhook"), new_incoming_webhook_path, class: "btn btn-primary float-right hidden lg:inline-block" %>
  </div>
  <div class="flex-none flex-wrap-reverse lg:flex-wrap lg:flex items-center mb-4">
    <div class="w-full lg:w-1/4">
      <div class="flex justify-between">
        <h1 class="h3 mr-2">
          <%= link_to 'Incoming Webhooks', incoming_webhooks_path, class:"text-gray-900" %>
        </h1>
        <%= link_to t("shared.scaffold.new.title", model: "Incoming Webhook"), new_incoming_webhook_path, class: "btn btn-primary lg:hidden" %>
      </div>
    </div>

    <% if @incoming_webhooks.any? && allowed_to?(:create?, IncomingWebhook, with: IncomingWebhookPolicy ) %>
      <div class="w-full lg:w-1/2">
        <%= render partial: "incoming_webhooks/filter" %>
      </div>
      <div class="w-full lg:w-1/4">
        <%= render partial: "incoming_webhooks/search" %>
      </div>
    <div class="w-full mt-2 text-center text-sm <%= 'hidden' if !params[:filter].present? %>">
      Filtered by: <%= "'#{params[:filter]}'" %>
    </div>
    <% end %>
  </div>
  <div class="bg-white rounded-lg">
    <% if @incoming_webhooks.any? %>
      <div class="table-responsive">
        <div class="p-6">
        <table class="table">
          <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @incoming_webhooks, :has_been_run, "Has been run", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @incoming_webhooks, :payload, "Payload", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @incoming_webhooks, :event_type, "Event type", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
            </tr>
          </thead>

          <tbody>
          <% @incoming_webhooks.each do |incoming_webhook| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= incoming_webhook.has_been_run %></td>
                          <td class="p-3"><%= incoming_webhook.payload %></td>
                          <td class="p-3"><%= incoming_webhook.event_type %></td>
            
              <td>
                <%= link_to t("shared.scaffold.view"), incoming_webhook, class: "btn btn-link no-underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
        <%= render "shared/custom_pagy" %>
      </div>
    <% else %>
      <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
        <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
        <div class="flex-1 text-center">
          <% if allowed_to?(:create?, IncomingWebhook, with: IncomingWebhookPolicy ) %>
          <p class="h3 mb-4">Create your first Incoming Webhook</p>
          <%= link_to t("shared.scaffold.new.title", model: "Incoming Webhook"), new_incoming_webhook_path, class: "btn btn-primary" %>
          <% else %>
            <p class="h3 mb-4">You do not have permission to create Incoming Webhook</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
