<!--          Company Overview-->
<div class="rounded-lg overflow-hidden shadow-lg bg-white mb-8">
  <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group text-center bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
    <p class="text-lg font-extrabold text-blue-500 pb-4">
      <%= title %>
    </p>
    <!-- Group Buttons -->
    <span class="relative z-0 inline-flex shadow-sm rounded-md">
      <%# PerformanceStat.periods.each do |period| %>
        <%= link_to leaderboard_path(:time_period => 'week') do %>
          <button type="button" class="relative inline-flex items-center px-3 py-2 sm:px-6 sm:py-3 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
            Week
          </button>
        <% end %>
      <%# end %>
      <%= link_to leaderboard_path(:time_period => "month") do %>
        <button type="button" class="-ml-px relative inline-flex items-center px-3 py-2 sm:px-6 sm:py-3 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          Month
        </button>
      <% end %>
      <%= link_to leaderboard_path(:time_period => "year") do %>
        <button type="button" class="-ml-px relative inline-flex items-center px-3 py-2 sm:px-6 sm:py-3 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          Year
        </button>
      <% end %>
    </span>
    <!-- Boxes -->
    <div class="bg-white relative">
      <div class="relative max-w-7xl mx-auto">
        <div class="max-w-4xl mx-auto">
          <dl class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-1 xl:grid-cols-3">
            <div class="flex flex-col rounded bg-blue-400 p-6 text-center my-3 md:mr-2 lg:mr-0 xl:mr-2">
              <dt class="order-2 mt-2 text-sm font-medium text-white">
                Leads
              </dt>
              <dd class="order-1 text-3xl font-extrabold text-white">
                <%= stats['lead_count'] %>
              </dd>
            </div>
            <div class="flex flex-col rounded bg-red-400 p-6 text-center my-3 md:mx-2 lg:mx-0 xl:mx-2">
              <dt class="order-2 mt-2 text-sm font-medium text-white">
                Quality Sits
              </dt>
              <dd class="order-1 text-3xl font-extrabold text-white">
                <%= stats['quality_sit_count'] %>
              </dd>
            </div>
            <div class="flex flex-col rounded bg-indigo-400 p-6 text-center my-3 md:ml-2 lg:ml-0 xl:ml-2">
              <dt class="order-2 mt-2 text-sm font-medium text-white">
                Scheduled Installs
              </dt>
              <dd class="order-1 text-3xl font-extrabold text-white">
                <%= stats['scheduled_install_count'] %>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>