<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <title>welcome-email</title>
    <style>
        @media (max-width: 767px) {
            table {
                width: 100%;
            }
            li{
                padding: 8px 0;
            }

        }
    </style>
</head>
<body style="margin:0;padding:0;font-family:  Montserrat, sans-serif;background: #eee;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr style="display:none;">
        <td>Here at HorizonPWR, we train, perform, and play as a team. We win together and we learn together. Because we&apos;re
            a team, each of us is dedicated to your success. You&apos;ll be given all the knowledge and resources
            necessary for you to be successful. All you have to do is supply the grit--that perfect combination of
            hustle, passion and perseverance.
        </td>
    </tr>
    <tr>
        <td style="padding: 25px 0;background-color:#eee;">
            <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td valign="middle">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                        <tbody>
                                        <tr>
                                            <td style="background-image:url(http://pwrstation.horizonpwr.com/assets/images/header-bg.jpg); background-repeat: no-repeat;
    background-size: cover;"><img
                                                    src="http://pwrstation.horizonpwr.com/assets/images/logo.png"
                                                    alt="logo" style="display: block; margin: 19px auto 32px;">

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>


            <table width="630" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #fff;">
                <tbody>
                <tr>
                    <td style="padding: 23px 37px 8px;"><p
                            style="color: #3b4958;font-size: 17px;line-height: 29px;font-weight: 400;margin: 0;">
                        The following information was saved in the system:</p></td>
                </tr>
                <tr>
                    <td style="padding: 0px 37px 0px;"><p
                            style="color: #3b4958;font-size: 17px;line-height: 29px;font-weight: 400;margin: 0;">
                    </p></td>
                </tr>
                <tr>
                    <td style="padding: 0 37px;"><p
                            style="color: #3b4958; font-size: 17px; line-height: 29px;font-weight: 400;">
                        <ul>
                            <li>Onboarder Name: {{firstName}} {{lastName}}</li>
                            <li>Onboarder Personal Email: {{personalEmail}}</li>
                            <li>Onboarder Company Email: {{companyEmail}}</li>
                            <li>Onboarder Position: {{roleName}}</li>
                            <li>Onboarder Team Name: {{teamName}}</li>
                            <li>Onboarder Phone Number: {{phone}}</li>
                            <li>Onboarder Start Date: {{startDate}}</li>
                        </ul>
                </tr>
                <tr>
                    <td style="padding: 0px 37px 37px 37px;"><p
                            style="color: #3b4958;font-size: 17px;line-height: 29px;font-weight: 400;margin: 0;">
                        Please slack Ben Sanchez if information is missing.</p></td>
                </tr>
                <tr>

                </tr>

                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>