<div class="mx-auto my-4 px-1 md:px-2 lg:px-4">
  <div class="flow-root lg:mb-4 <%= 'hidden' if !@energy_consumptions.any? && allowed_to?(:create?, EnergyConsumption, with: EnergyConsumptionPolicy ) %>">
    <%= link_to t("shared.scaffold.new.title", model: "Energy Consumption"), new_energy_consumption_path, class: "btn btn-primary float-right hidden lg:inline-block" %>
  </div>
  <div class="flex-none flex-wrap-reverse lg:flex-wrap lg:flex items-center mb-4">
    <div class="w-full lg:w-1/4">
      <div class="flex justify-between">
        <h1 class="h3 mr-2">
          <%= link_to 'Energy Consumptions', energy_consumptions_path, class:"text-gray-900" %>
        </h1>
        <%= link_to t("shared.scaffold.new.title", model: "Energy Consumption"), new_energy_consumption_path, class: "btn btn-primary lg:hidden" %>
      </div>
    </div>

    <% if @energy_consumptions.any? && allowed_to?(:create?, EnergyConsumption, with: EnergyConsumptionPolicy ) %>
      <div class="w-full lg:w-1/2">
        <%= render partial: "energy_consumptions/filter" %>
      </div>
      <div class="w-full lg:w-1/4">
        <%= render partial: "energy_consumptions/search" %>
      </div>
    <div class="w-full mt-2 text-center text-sm <%= 'hidden' if !params[:filter].present? %>">
      Filtered by: <%= "'#{params[:filter]}'" %>
    </div>
    <% end %>
  </div>
  <div class="bg-white rounded-lg">
    <% if @energy_consumptions.any? %>
      <div class="table-responsive">
        <div class="p-6">
        <table class="table">
          <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @energy_consumptions, :monthly_usage, "Monthly usage", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @energy_consumptions, :proposal_id, "Proposal", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @energy_consumptions, :updated_by_id, "Updated by", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @energy_consumptions, :created_by_id, "Created by", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @energy_consumptions, :data_source, "Data source", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
            </tr>
          </thead>

          <tbody>
          <% @energy_consumptions.each do |energy_consumption| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= energy_consumption.monthly_usage %></td>
                          <td class="p-3"><%= energy_consumption.proposal_id %></td>
                          <td class="p-3"><%= energy_consumption.updated_by_id %></td>
                          <td class="p-3"><%= energy_consumption.created_by_id %></td>
                          <td class="p-3"><%= energy_consumption.data_source %></td>
            
              <td>
                <%= link_to t("shared.scaffold.view"), energy_consumption, class: "btn btn-link no-underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
        <%= render "shared/custom_pagy" %>
      </div>
    <% else %>
      <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
        <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
        <div class="flex-1 text-center">
          <% if allowed_to?(:create?, EnergyConsumption, with: EnergyConsumptionPolicy ) %>
          <p class="h3 mb-4">Create your first Energy Consumption</p>
          <%= link_to t("shared.scaffold.new.title", model: "Energy Consumption"), new_energy_consumption_path, class: "btn btn-primary" %>
          <% else %>
            <p class="h3 mb-4">You do not have permission to create Energy Consumption</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
