<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Earnings", earnings_path %> > Earning #<%= @earning.id %></h1>
      <%= link_to t("edit"), edit_earning_path(@earning), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Downline earning</h5>
        <%= @earning.downline_earning %>
      </div>
            <div class="mb-4">
        <h5>Payout rate variant</h5>
        <%= @earning.payout_rate_variant %>
      </div>
            <div class="mb-4">
        <h5>Amount</h5>
        <%= @earning.amount %>
      </div>
            <div class="mb-4">
        <h5>Unit</h5>
        <%= @earning.unit %>
      </div>
          </div>
  </div>
</div>
