<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Field Responses</h1>

    <%# if @field_responses.any? %>
      <%#= link_to t("shared.scaffold.new.title", model: "Field Response"), new_field_response_path, class: "btn btn-primary" %>
    <%# end %>
  </div>

  <% if @field_responses.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @field_responses, :form_response_id, "Form response", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @field_responses, :field_config_id, "Field config", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @field_responses, :last_updated_by_id, "User", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @field_responses, :response, "Text response", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>

        <tbody>
        <% @field_responses.each do |field_response| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= field_response.form_response_id %></td>
                      <td class="p-3"><%= field_response.field_config_id %></td>
                      <td class="p-3"><%= field_response.last_updated_by_id %></td>
                      <td class="p-3"><%= field_response.response %></td>
          
            <td>
              <%= link_to t("shared.scaffold.view"), field_response, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Field Responses are created dynamically.</p>
        <%#= link_to t("shared.scaffold.new.title", model: "Field Response"), new_field_response_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
