<div class="mx-auto my-4 px-1 md:px-2 lg:px-4">
  <div class="flow-root lg:mb-4 <%= 'hidden' if !@earning_types.any? %>">
    <%= link_to t("shared.scaffold.new.title", model: "Earning Type"), new_earning_type_path, class: "btn btn-primary float-right hidden lg:inline-block" %>
  </div>
  <div class="flex-none flex-wrap-reverse lg:flex-wrap lg:flex items-center mb-4">
    <div class="w-full lg:w-1/4">
      <div class="flex justify-between">
        <h1 class="h3 mr-2">
          <%= link_to 'Earning Types', earning_types_path, class:"text-gray-900" %>
        </h1>
        <%= link_to t("shared.scaffold.new.title", model: "Earning Type"), new_earning_type_path, class: "btn btn-primary lg:hidden" %>
      </div>
    </div>

    <% if @earning_types.any? %>
      <div class="w-full lg:w-1/2">
        <%= render partial: "earning_types/filter" %>
      </div>
      <div class="w-full lg:w-1/4">
        <%= render partial: "earning_types/search" %>
      </div>
    <div class="w-full mt-2 text-center text-sm <%= 'hidden' if !params[:filter].present? %>">
      Filtered by: <%= "'#{params[:filter]}'" %>
    </div>
    <% end %>
  </div>
  <div class="">
    <% if @earning_types.any? %>
      <div class="bg-white rounded shadow table-responsive">
        <table class="table">
          <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_types, :name, "Name", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_types, :display_name, "Display name", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_types, :preferred_financial_option, "Preferred financial option", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_types, :percent, "Percent", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
            </tr>
          </thead>

          <tbody>
          <% @earning_types.each do |earning_type| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= earning_type.name %></td>
                          <td class="p-3"><%= earning_type.display_name %></td>
                          <td class="p-3"><%= earning_type.preferred_financial_option %></td>
                          <td class="p-3"><%= earning_type.percent %></td>
            
              <td>
                <%= link_to t("shared.scaffold.view"), earning_type, class: "btn btn-link no-underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <% if @pagy.pages > 1 %>
        <div class="text-center my-6">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>

    <% else %>
      <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
        <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
        <div class="flex-1 text-center">
          <p class="h3 mb-4">Create your first Earning Type</p>
          <%= link_to t("shared.scaffold.new.title", model: "Earning Type"), new_earning_type_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
