<div class="container mx-auto my-8 px-4">
  <!-- Main 3 column grid -->
  <main class="pb-8">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Main 3 column grid -->
      <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-3">
          <!-- Summary panel -->
          <section aria-labelledby="profile-overview-title">
            <div class="rounded-lg bg-white overflow-hidden shadow-lg">
              <div class="bg-white p-6 pt-4 flex lg:justify-between lg:flex-row flex-wrap sm:flex-nowrap">
                <div class="sm:flex sm:items-center sm:justify-between w-full">
                  <div class="sm:flex">
                    <div class="flex-shrink-0">
                    </div>
                    <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                      <div class="flex flex-row items-center">
                        <!-- Contact avatar -->
                        <div class="flex-shrink-0 h-10 w-10">
                          <%= image_tag avatar_url_for(@user), class: "h-10 inline-block rounded-full mr-2" %>
                        </div>
                        <p class="text-xl font-bold text-gray-900 sm:text-2xl pl-4">
                          <%= @user.name %>
                        </p>
                        <%= link_to 'edit', edit_user_path(@user), class: "text-sm pl-2" if allowed_to?(:manage?, @user) %>
                        <%= link_to 'admin view', admin_user_path(@user), class: "text-sm pl-2" if current_user.admin? %>
                        <%= link_to "Upline Relations", upline_relations_path, class: 'text-sm pl-2' if allowed_to?(:index?, UplineRelation, with: UplineRelationPolicy ) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex w-full lg:justify-end md:justify-end justify-evenly">
                  <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                    <div class="flex flex-row items-center">
                      <% if @user.active %>
                        <div class="flex-1 h-3 w-3 bg-green-400 rounded-full">
                        </div>
                        <span class="px-1 py-2 text-base font-bold leading-normal text-green-500">
                         ACTIVE
                        </span>
                      <% else %>
                        <div class="flex-1 h-3 w-3 bg-red-400 rounded-full">
                        </div>
                        <span class="px-1 py-2 text-base font-bold leading-normal text-red-500">
                           INACTIVE
                        </span>


<!--                        <div class="flex w-full lg:justify-end md:justify-end justify-evenly">-->
<!--                          <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">-->
<!--                            <div class="flex flex-row items-center">-->
<!--                              <div class="flex-1 h-3 w-3 bg-<%#= @proposal.state_color %>-400 rounded-full">-->
<!--                              </div>-->
<!--                              <div class="px-1 py-2 text-base font-bold leading-normal text-<%#= @proposal.state_color %>-500">-->
                                <%#= @proposal.state_label %>
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        </div>-->



                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                  Email:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                  <%= @user.email %>
                </span>
              </p>
              <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                  Personal Email:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                  <% if @user.personal_email.present? %>
                    <%= @user.personal_email %>
                  <% else %>
                     not added
                  <% end %>
                </span>
              </p>
              <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                  Phone:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                  <% if @user.phone.present? %>
                    <%= link_to @user.phone, "tel:#{@user.phone}", class: "text-gray-600" %>
                  <% else %>
                     not added
                  <% end %>
                </span>
              </p>
              <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                  Position:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                  <% if @user.job_position.present? %>
                    <%= @user.job_position.name %>
                  <% else %>
                    No job position assigned
                  <% end %>
                </span>
              </p>
              <!--4 Bottom sections on top card-->
              <div class="border-t border-gray-200 bg-gray-50 grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-4 sm:divide-y-0 sm:divide-x">
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Team:
                    </span>
                    <span class="text-gray-600">
                      <% if @user.accounts.impersonal.present? %>
                        <% @user.accounts.impersonal.each do |account| %>
                          <%= link_to account.name, account_path(account) %>
                        <% end %>
                      <% else %>
                        No team assigned
                      <% end %>
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Start Date:
                    </span>
                    <span class="text-gray-600">
                      <% if @user.start_date.present? %>
                        <%= @user.start_date %>
                      <% else %>
                         unknown
                      <% end %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Shirt Size:
                    </span>
                    <span class="text-gray-600">
                      <% if @user.shirt_size.present? %>
                        <%= @user.shirt_size %>
                      <% else %>
                        unknown
                      <% end %>
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Shoe Size:
                    </span>
                    <span class="text-gray-600">
                      <% if @user.shoe_size.present? %>
                        <%= @user.shoe_size %>
                      <% else %>
                        unknown
                      <% end %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Birth Date:
                    </span>
                    <span class="text-gray-600">
                      <% if @user.birth_date.present? %>
                        <%= @user.birth_date %>
                      <% else %>
                         unknown
                      <% end %>
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      TITLE:
                    </span>
                    <span class="text-gray-600">
                      Something here
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      TITLE:
                    </span>
                    <span class="text-gray-600">
                      Something here
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      TITLE:
                    </span>
                    <span class="text-gray-600">
                      Something here
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="grid grid-cols-1 gap-8 lg:col-span-2">
          <!-- Actions panel -->
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg h-96 bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">My Stats</p>
                <!--TODO: ADD CUSTOM ELEMENTS HERE FOR THIS SECTION-->
              </div>
            </div>
          </section>
          <!-- Actions panel 2-->
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg  h-96 bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">TBD</p>
                <!--TODO: ADD CUSTOM ELEMENTS HERE FOR THIS SECTION-->
              </div>
            </div>
          </section>
        </div>

        <!-- Right column -->
        <div class="grid grid-span-3 gap-4">
          <section>
            <div class="rounded-lg bg-white overflow-hidden shadow-lg">
              <div class="p-6">
                <h2 class="text-base font-bold text-gray-900 text-xl" id="appointments">Appointments</h2>
                <div class="overflow-y-auto mt-6 h-auto">
                  <% @user.appointments.each do |appointment| %>
                    <div class="inline-flex w-full h-full my-2 items-center justify-center pl-6 bg-white border rounded-md border-<%= appointment.status_color %>-200">
                      <p class="w-1/2 leading-none text-gray-800 text-xs md:text-sm ">
                        <%= link_to "#{appointment.appointment_type} - #{date_mdy(appointment.date)}", appointment, class: "btn-link no-underline capitalize text-gray-700 " %>
                      </p>
                      <div class="flex items-center justify-center flex-1 h-full bg-<%= appointment.status_color %>-100 rounded-tr-md rounded-br-md">
                        <p class="h-full text-sm font-medium leading-snug text-center text-<%= appointment.status_color %>-700 px-2 py-1">
                          <%= appointment.appointment_status.humanize %>
                          <%#= TODO: Update the rest of the colors https: //www.pivotaltracker.com / story / show / 178094538 %>
                        </p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>