<ul role="list" class="mx-auto space-y-0 items-end grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl">
  <% if performance_stats.second.accountable.present? %>
    <li class="list-none order-2 sm:order-1 py-12 sm:py-0">
      <div class="space-y-2">
        <h1 class="text-gray-600">
          2nd
        </h1>
        <%= image_tag avatar_url_for(performance_stats.second.accountable, size: 300), class: "mx-auto border-4 border-gray-500 h-32 w-32 rounded-full xl:w-52 xl:h-52" %>
        <div class="space-y-2">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h4>
              <%= performance_stats.second.accountable.name %>
            </h4>
            <h3 class="text-blue-500">
              <%= performance_stats.second.overall %>
            </h3>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <% if performance_stats.first.accountable.present? %>
    <li class="list-none order-1 sm:order-2">
      <div class="space-y-2">
        <h1 class="text-yellow-400">
          1st
        </h1>
        <%= image_tag avatar_url_for(performance_stats.first.accountable, size: 300), class: "mx-auto border-4 border-yellow-400 h-32 w-32 sm:h-40 sm:w-40 rounded-full xl:w-60 xl:h-60" %>
        <div class="space-y-2">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h4>
              <%= performance_stats.first.accountable.name %>
            </h4>
            <h3 class="text-blue-500">
              <%= performance_stats.first.overall %>
            </h3>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <% if performance_stats.third.accountable.present? %>
    <li class="list-none order-3">
      <div class="space-y-2">
        <h1 class="text-yellow-500">
          3rd
        </h1>
        <%= image_tag avatar_url_for(performance_stats.third.accountable, size: 300), class: "mx-auto border-4 border-yellow-500 h-32 w-32 rounded-full xl:w-52 xl:h-52" %>
        <div class="space-y-2">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h4>
              <%= performance_stats.third.accountable.name %>
            </h4>
            <h3 class="text-blue-500">
              <%= performance_stats.third.overall %>
            </h3>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>