  <li class="list-none  rounded-lg mb-2" id="<%= dom_id(note) %>">
    <div class="relative pb-4">
      <div class="relative flex items-start space-x-3">
        <div class="relative">
          <%= link_to user_path(note.user) do %>
            <%= image_tag avatar_url_for(note.user), height: 20, width: 20, class: "h-8 w-8 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center inline-block rounded-full" %>
            <span class="absolute -bottom-3 -right-1 bg-white rounded-tl px-0.5 py-px">
            <!-- Heroicon name: solid/chat-alt -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"/>
            </svg>
          </span>
          <% end %>
        </div>
        <div class="min-w-0 flex-1">
          <div>
            <div class="text-sm">
              <%= link_to note.user.name, user_path(note.user), class: "font-medium text-gray-900" %>
              <span class="text-sm text-gray-500 float-right">
              <%= link_to local_time_ago(note.created_at), polymorphic_path([note.notable], anchor: "note_#{note.id}"), class: 'text-gray-500' %>
            </span>
            </div>
          </div>
          <div class="mt-2 text-sm">
            <div class="flex flex-wrap">
                <div class="bg-gray-200 rounded-md w-full p-2 flex justify-between">
                  <div class='text-gray-800 hover:text-gray-600 pr-2'>
                    <%= note.body %>
                  </div>
                  <% if allowed_to?(:edit?, @feedback, with: FeedbackPolicy) %>
                    <div class="float-right">
                      <%= link_to edit_feedback_path(@feedback) do %>
                        <svg aria-hidden="true" data-prefix="far" data-icon="edit" class="fa-edit h-4 w-4 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                          <path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/>
                        </svg>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>