<div class="mx-auto my-4 px-1 md:px-2 lg:px-4">
  <div class="flow-root lg:mb-4 <%= 'hidden' if !@adjustments.any? && allowed_to?(:new?, @adjustments) %>">
    <%= link_to t("shared.scaffold.new.title", model: "Adjustment"), new_adjustment_path, class: "btn btn-primary lg:hidden" %>
  </div>
  <div class="flex-none flex-wrap-reverse lg:flex-wrap lg:flex items-center mb-4">
    <div class="w-full lg:w-1/4">
      <div class="flex justify-between">
        <h1 class="h3 mr-2">
          <%= link_to 'Adjustments', adjustments_path, class:"text-gray-900" %>
        </h1>
        <%= link_to t("shared.scaffold.new.title", model: "Adjustment"), new_adjustment_path, class: "btn btn-primary lg:hidden" %>
      </div>
    </div>

    <% if @adjustments.any? %>
      <div class="w-full lg:w-1/2">
        <%= render partial: "adjustments/filter" %>
      </div>
      <div class="w-full lg:w-1/4">
        <%= render partial: "adjustments/search" %>
      </div>
    <div class="w-full mt-2 text-center text-sm <%= 'hidden' if !params[:filter].present? %>">
      Filtered by: <%= "'#{params[:filter]}'" %>
    </div>
    <% end %>
  </div>
  <div class="">
  <% if @adjustments.any? && allowed_to?(:new?, with: AdjustmentPolicy) %>
  <div class="bg-white rounded shadow table-responsive">
        <table class="table">
          <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @adjustments, :amount, "Amount", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
            </tr>
          </thead>

          <tbody>
          <% @adjustments.each do |adjustment| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= adjustment.amount %></td>
            
              <td>
                <%= link_to t("shared.scaffold.view"), adjustment, class: "btn btn-link no-underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <% if @pagy.pages > 1 %>
        <div class="text-center my-6">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>

    <% else %>
      <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
        <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
        <div class="flex-1 text-center">
          <p class="h3 mb-4">Create your first Adjustment</p>
          <%= link_to t("shared.scaffold.new.title", model: "Adjustment"), new_adjustment_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
