<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Project Contact Addresses</h1>

    <% if @contact_addresses.any? %>
      <%= link_to 'New Project Contact Address', new_contact_address_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @contact_addresses.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @contact_addresses, :primary_contact, 'Primary contact', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @contact_addresses, :contact_id, 'Contact', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @contact_addresses.each do |project_contact_address| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= project_contact_address.primary_contact %></td>
                      <td class="p-3"><%= project_contact_address.contact_id %></td>

            <td>
              <%= link_to "View", project_contact_address, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render "shared/custom_pagy" %>
  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Project Contact Address</p>
        <%= link_to 'New Project Contact Address', new_contactAddress_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
