<div class="field font-medium">
  <% if field_config.field_type == "check_box" %>
    <%= f.label field_config.name, class: "flex items-center space-x-3 pb-3" do %>
      <%= f.public_send field_config.field_type, field_config.name, class: "form-tick appearance-none h-6 w-6 border
          border-gray-300 rounded-md checked:bg-blue-600 checked:border-transparent focus:outline-none mr-2" %>
      <span class="text-gray-900">
        <%= field_config.label %>
      </span>
    <% end %>
  <% elsif field_config.field_type == "select" %>
    <%= content_tag :div, class: "mb-4" do %>
      <%= content_tag :p, class: "text-gray-900" do %>
        <%= field_config.label %>
      <% end %>
      <%= f.select :field_type, options_for_select(field_config.options, field_config.field_type), prompt: "Choose One" %>
    <% end %>
  <% else %>
    <%= content_tag :div, class: "mb-4" do %>
      <%= content_tag :p, class: "text-gray-900" do %>
        <%= field_config.label %>
      <% end %>
      <%= f.public_send field_config.field_type, field_config.name, class: "form-control" %>
    <% end %>
  <% end %>
</div>