<div class="mx-auto my-4 px-1 md:px-2 lg:px-4">
<!--  <div class="flow-root lg:mb-4 <%#= 'hidden' if !@earning_rates.any? && allowed_to?(:create?, EarningRate, with: EarningRatePolicy ) %>">-->
    <%#= link_to t("shared.scaffold.new.title", model: "Earning Rate"), new_earning_rate_path, class: "btn btn-primary float-right hidden lg:inline-block" %>
<!--  </div>-->
  <div class="flex-none flex-wrap-reverse lg:flex-wrap lg:flex items-center mb-4">
    <div class="w-full lg:w-1/4">
      <div class="flex justify-between">
        <h1 class="h3 mr-2">
          <%= link_to 'Earning Rates', earning_rates_path, class:"text-gray-900" %>
        </h1>
        <%#= link_to t("shared.scaffold.new.title", model: "Earning Rate"), new_earning_rate_path, class: "btn btn-primary lg:hidden" %>
      </div>
    </div>

    <% if @earning_rates.any? && allowed_to?(:create?, EarningRate, with: EarningRatePolicy ) %>
      <div class="w-full lg:w-1/2">
        <%= render partial: "earning_rates/filter" %>
      </div>
      <div class="w-full lg:w-1/4">
        <%= render partial: "earning_rates/search" %>
      </div>
    <div class="w-full mt-2 text-center text-sm <%= 'hidden' if !params[:filter].present? %>">
      Filtered by: <%= "'#{params[:filter]}'" %>
    </div>
    <% end %>
  </div>
  <div class="">
    <% if @earning_rates.any? %>
      <div class="bg-white rounded shadow table-responsive">
        <table class="table">
          <thead>
            <tr>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_rates, :amount, "Amount", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_rates, :range_top, "Range top", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_rates, :range_bottom, "Range bottom", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_rates, :earning_type_id, "Earning type", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs"><%= sortable @earning_rates, :active, "Active", class: "text-gray-700" %></th>
                <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
            </tr>
          </thead>

          <tbody>
          <% @earning_rates.each do |earning_rate| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= earning_rate.amount %></td>
                          <td class="p-3"><%= earning_rate.range_top %></td>
                          <td class="p-3"><%= earning_rate.range_bottom %></td>
                          <td class="p-3"><%= earning_rate.earning_type_id %></td>
                          <td class="p-3"><%= earning_rate.active %></td>

              <td>
                <%= link_to t("shared.scaffold.view"), earning_rate, class: "btn btn-link no-underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

   <%= render "shared/custom_pagy" %>

    <% else %>
      <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
        <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
        <div class="flex-1 text-center">
          <% if allowed_to?(:create?, EarningRate, with: EarningRatePolicy ) %>
          <p class="h3 mb-4">Create your first Earning Rate</p>
          <%= link_to t("shared.scaffold.new.title", model: "Earning Rate"), new_earning_rate_path, class: "btn btn-primary" %>
          <% else %>
            <p class="h3 mb-4">You do not have permission to create Earning Rate</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
