<div class="container mx-auto my-8 px-4">
  <!-- Main 3 column grid -->
  <main class="pb-8">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Main 3 column grid -->
      <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-3">
          <!-- Summary panel -->
          <section aria-labelledby="profile-overview-title">
            <div class="rounded-lg bg-white overflow-hidden shadow-lg">
              <div class="bg-white p-6 pt-4 flex lg:justify-between lg:flex-row flex-wrap sm:flex-nowrap">
                <div class="sm:flex sm:items-center sm:justify-between w-full">
                  <div class="sm:flex">
                    <div class="flex-shrink-0">
                    </div>
                    <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                      <div class="flex flex-row items-center">
                        <!-- Contact avatar -->
                        <div class="flex-shrink-0 h-10 w-10">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                          </svg>
                        </div>
                        <p class="text-xl font-bold text-gray-900 sm:text-2xl pl-4">
                          <%= @appointment.name %>
                          <%#= link_to @appointment.name, contact_path(@appointment.contacts.first) %>
                        </p>
                        <%= link_to 'Edit', edit_appointment_path(@appointment), class: "btn btn-link" if allowed_to?(:manage?, @appointment) %>
                      </div>
                    </div>
                  </div>
                </div>
                <!--                Status Icon Top Right-->
                <div class="flex w-full lg:justify-end md:justify-end justify-evenly">
                  <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                    <div class="flex flex-row items-center">
                      <div class="flex-1 h-3 w-3 bg-<%= @appointment.status_color %>-400 rounded-full">
                      </div>
                      <div id="appt_status" class="px-1 py-2 text-base font-bold leading-normal capitalize text-<%= @appointment.status_color %>-500">
                        <%= @appointment.appointment_status %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% unless @appointment.completed_at.nil? %>
                <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                  Completed At:
                </span>
                  <span class="text-sm font-medium text-gray-600 py-1">
                  <%= @appointment.completed_at.strftime("%l:%M %p %b. %e, %Y") %>
                </span>
                </p>
              <% end %>

              <p class="text-sm font-medium text-gray-600 py-1 px-6">
                <span class="font-medium text-gray-900">
                    Address:
                </span>
                <span class="text-sm font-medium text-gray-600 py-1">
                    <%= link_to @appointment&.address&.full_address, address_path(@appointment&.address&.id), class: "text-gray-600" %>
                </span>
              </p>
              <div class="border-t border-gray-200 bg-gray-50 grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-4 sm:divide-y-0 sm:divide-x">
                <!--4 Bottom sections on top card-->
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                     Created By:
                    </span>
                    <span class="text-gray-600">
                      <% if @appointment.created_by_name != 'unknown' %>
                        <%= link_to @appointment.created_by_name, user_path(@appointment.created_by&.id), class: "text-gray-600" %>
                      <% else %>
                        <%= @appointment.created_by_name || 'Not Assigned Yet' %>
                      <% end %>
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                     Created:
                    </span>
                    <span class="text-gray-600">
                      <%= local_time_ago(@appointment.created_at) %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Scheduled With:
                    </span>
                    <span class="text-gray-600">
                      <%= link_to @appointment.scheduled_with_consultant.name, user_path(@appointment.scheduled_with_consultant&.id), class: "text-gray-600" %>
                    </span>
                  </div>
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Date:
                    </span>
                    <span class="text-gray-600">
                      <%= render "calendars/time_range_by_appointment_type", appointment: @appointment %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                      Team:
                    </span>
                    <span class="text-gray-600">
                      <% if @appointment.created_by_team != 'unknown' %>
                         <%= link_to @appointment.created_by_team, team_path(@appointment.account&.id), class: "text-gray-600" %>
                      <% else %>
                        <%= @appointment.created_by_team || 'Not Assigned Yet' %>
                      <% end %>
                    </span>
                  </div>
                </div>
                <div class="px-6 py-5 text-sm text-center flex flex-nowrap sm:flex-wrap md:flex-wrap justify-between">
                  <div class="w-full">
                    <span class="text-gray-900 font-medium">
                     Type:
                    </span>
                    <span class="text-gray-600">
                     <%= @appointment.appointment_type.capitalize %>
                    </span>
                  </div>
                  <div class="w-full">
                    <%#= link_to "Check Proposal", proposal_path(@appointment.proposals.first), class: "text-gray-900 font-medium" %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2">
          <!-- Members panel -->
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">Projects</p>
                <% if @appointment.address.projects.any? %>
                  <% @appointment.address.projects.each do |project| %>
                    <%= link_to "Project #{project.id}", project_path(project) %>
                    <br/>
                  <% end %>
                <% else %>
                  No projects associated to this address yet
                <% end %>
              </div>
            </div>
          </section>
          <section>
            <div class="rounded-lg overflow-hidden shadow-lg bg-white">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500">
                <p class="text-xl font-bold text-gray-900 sm:text-2xl">Map</p>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <div class="grid grid-span-3 gap-4">
          <!-- Needs to be updated-->
          <!-- Appointment section -->
          <section>
            <div class="rounded-lg bg-white overflow-hidden shadow-lg overflow-y-auto ">
              <div class="p-6">
                <% if @user_is_closer %>
                  <%= render 'schedule_with_me', appointment: @appointment %>
                <% elsif @user_is_support %>
                  <%= render 'scheduled_with_switcher', appointment: @appointment %>
                <% end %>

                <% if @appointment.appointment_status == "scheduled" && @appointment.inspection? %>
                  <%= render 'appointment_failed_button' %>
                <% end %>
                <% if current_user.solar_installer? %>
                  <% if @appointment.paneling_install? %>
                    <%= render 'install_completion_buttons', btn_1_type: "paneling", btn_2_type: "commissioning" %>
                  <% elsif @appointment.racking_install? %>
                    <%= render 'install_completion_buttons', btn_1_type: "racking", btn_2_type: "electrical" %>
                  <% end %>
                <% end %>

                <% if @appointment.consult? %>
                  <%= render 'held_not_held_form', appointment: @appointment %>
                  <hr>
                  <p class="text-xl font-medium text-gray-900 sm:text-2xl mt-4 mb-2">Schedule Follow Up</p>
                  <%# TODO: refactor so we don't hard code appointment status or type %>
                  <%= form_with(model: Appointment, method: :create) do |form| %>
                    <div class="form-group">
                      <%= form.label :start_at, "Appointment Date" %>
                      <%= form.text_field :start_at, class: "form-control flatpickr-capybara-selector", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_format: "m-d-Y h:i K", flatpickr_alt_input: true, flatpickr_allow_input: true, flatpickr_default_date: @appointment.start_at? ? @appointment.start_at : Time.now } %>
                    </div>
                    <%= form.hidden_field :appointment_type, value: 'follow up' %>
                    <%= form.hidden_field :appointment_status, value: 'scheduled' %>
                    <%= form.hidden_field :scheduled_with_id, value: @appointment.scheduled_with_id %>
                    <%= form.hidden_field :consult_id, value: @appointment.id %>
                    <%= form.button "Schedule Follow Up", class: "btn btn-primary w-full justify-center", data: { disable_with: 'processing' } %>
                  <% end %>
                  <hr>
                  <br>
                <% end %>
                <div class="mt-6">
                  <% if  @appointment.present? && @appointment.project.present? %>
                    <div >
                      <p class="text-xl font-medium text-gray-900 sm:text-2xl">Install Notes</p>
                      <div class="flow-root mt-6">
                        <div class="flow-root">
                          <div class="border-b-2 border-gray-400 mb-4">
                            <% if allowed_to?(:manage?, @new_note) %>
                              <%= render partial: "notes/form", locals: { note: @new_note } %>
                            <% end %>
                          </div>
                          <div class="overflow-y-auto mt-8">
                            <% @appointment.notes.chronologically_ordered.each do |note| %>
                              <%= render partial: "notes/note", locals: { note: note, last: false } %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="mt-6">
                  <p class="text-xl font-medium text-gray-900 sm:text-2xl">Proposal</p>
                  <% if @appointment.proposal.present? %>
                    <div class="inline-flex w-full h-full my-2 items-center justify-center pl-6 bg-white border rounded-md border-<%= @appointment.status_color %>-200">
                      <p class="w-1/2 h-full text-sm leading-none text-gray-800">
                        <%= link_to date_mdy(@appointment.start_at), proposal_path(@appointment.proposal), class: "text-gray-900 font-medium" %>
                      </p>
                      <div class="flex items-center justify-center flex-1 h-full bg-<%= @appointment.status_color %>-100 rounded-tr-md rounded-br-md">
                        <p class="h-full text-sm font-medium leading-snug text-center capitalize text-<%= @appointment.status_color %>-700 px-2 py-1">
                          <%= @appointment.appointment_status %>
                          <%#= TODO: Update the rest of the colors https://www.pivotaltracker.com/story/show/178094538 %>
                        </p>
                      </div>
                    </div>
                  <% else %>
                    This appointment has no proposal.
                  <% end %>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>
