<div class="mx-auto my-8 px-4">
  <%#= link_to "Feedback", feedbacks_path, class: "btn btn-primary" %>
  <div class="flex flex-col items-start justify-between sm:flex-row-reverse flex-wrap">
    <div class="w-full">
      <div class="flex justify-between items-center mb-4">
        <h1 class="h3">
          <%= link_to 'Roadmap', roadmap_path, class: "text-gray-900" %>
        </h1>
        <div>
          <%= link_to "Feedback", feedbacks_path, class: "btn btn-primary" %>
          <%= link_to "New Feedback", new_feedback_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="">
        <div class="flex flex-row md:flex-nowrap flex-wrap ">
          <div class="w-full sm:w-1/3 mr-2">
            <h1 class="h4">
              Planned
            </h1>
            <% @planned_feedbacks.each do |feedback| %>
              <%= render partial: "feedbacks/card", locals: { feedback: feedback }%>
            <% end %>
          </div>
          <div class="w-full sm:w-1/3 mr-2">
            <h1 class="h4">
              In Progress
            </h1>
            <% @progressing_feedbacks.each do |feedback| %>
              <%= render partial: "feedbacks/card", locals: { feedback: feedback }%>
            <% end %>
          </div>
          <div class="w-full sm:w-1/3">
            <h1 class="h4">
              Completed
            </h1>
            <% @completed_feedbacks.each do |feedback| %>
              <%= render partial: "feedbacks/card", locals: { feedback: feedback }%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>