<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Payout Rate Variants", payout_rate_variants_path %> > Payout Rate Variant #<%= @payout_rate_variant.id %></h1>
      <%= link_to t("edit"), edit_payout_rate_variant_path(@payout_rate_variant), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Payout</h5>
        <%= @payout_rate_variant.payout %>
      </div>
            <div class="mb-4">
        <h5>Earning rate</h5>
        <%= @payout_rate_variant.earning_rate %>
      </div>
            <div class="mb-4">
        <h5>Earning type</h5>
        <%= @payout_rate_variant.earning_type %>
      </div>
          </div>
  </div>
</div>
