<!-- Header Card -->
<div class="flex flex-wrap bg-transparent sm:rounded-md">
    <!-- Header card contents  -->
    <div class="bg-white w-full mb-1 sm:mb-2 sm:rounded-t-md shadow-md p-6">
        <div class="flex flex-row justify-between">
            <div class="inline-flex items-center w-full h-9">
                <%= image_tag "mark.png", height: 20, width: 20, class: "w-9 h-full rounded-lg mr-4" %>
                <div class="inline-flex flex-col items-start h-full">
                    <div class="w-full mt-1 text-md font-semibold leading-none text-gray-900">
                        User Name
                      <%= link_to t("edit"), edit_department_path(@department), class: "btn btn-link" %>
                    </div>
                    <div class="w-full mt-1 text-xs leading-3 text-gray-400">
                        Team Name
                    </div>
                </div>
            </div>
          <%= render 'shared/active_status_color', object: @department %>
        </div>
        <div class="flex flex-col mt-2 text-md">

            <div class="flex flex-row justify-between">
                <p>
                    Name: <%= @department.name %>
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
    <!-- End of Header card contents  -->
    <% if show_cards == true %>
        <!-- Card 1 contents  -->
        <div class="w-full sm:w-1/2 lg:w-1/4 pb-1 sm:pb-2 sm:pr-1 lg:pb-0 rounded-md">
            <div class="bg-white sm:rounded-r-lg lg:rounded-tr-lg lg:rounded-br-none lg:rounded-bl-md h-full shadow-lg">
                <div class="flex-col py-4 px-6">
                    <p class="mt-1 font-semibold leading-3 text-gray-900">Job Position</p>
                    <div class="inline-flex items-center mt-1">
                        <%= image_tag "mark.png", height: 20, width: 20, class: "w-9 h-full rounded-lg mr-4" %>
                        <div class="inline-flex flex-col justify-center">
                            <p class="text-sm font-semibold leading-none text-gray-900">User Name</p>
                            <p class="text-xs leading-3 text-gray-400 mt-1">Team Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of card 1 contents  -->
        <!-- Card 2 contents  -->
        <div class="w-full sm:w-1/2 lg:w-1/4 pb-1 sm:pb-2 sm:pl-1 lg:pr-1 lg:pb-0">
            <div class="bg-white sm:rounded-l-lg lg:rounded-b-none lg:rounded-t-lg h-full shadow-lg">
                <div class="flex-col py-4 px-6">
                    <p class="mt-1 font-semibold leading-3 text-gray-900">Job Position</p>
                    <div class="inline-flex items-center mt-1">
                        <%= image_tag "mark.png", height: 20, width: 20, class: "w-9 h-full rounded-lg mr-4" %>
                        <div class="inline-flex flex-col justify-center">
                            <p class="text-sm font-semibold leading-none text-gray-900">User Name</p>
                            <p class="text-xs leading-3 text-gray-400 mt-1">Team Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of card 2 contents  -->
        <!-- Card 3 contents  -->
        <div class="w-full sm:w-1/2 lg:w-1/4 pb-1 sm:pb-0 sm:pr-1 lg:pl-1">
            <div class="bg-white sm:rounded-tr-lg lg:rounded-t-lg h-full sm:rounded-bl-md lg:rounded-bl-none shadow-lg">
                <div class="flex-col py-4 px-6">
                    <p class="mt-1 font-semibold leading-3 text-gray-900">Job Position</p>
                    <div class="inline-flex items-center mt-1">
                        <%= image_tag "mark.png", height: 20, width: 20, class: "w-9 h-full rounded-lg mr-4" %>
                        <div class="inline-flex flex-col justify-center">
                            <p class="text-sm font-semibold leading-none text-gray-900">User Name</p>
                            <p class="text-xs leading-3 text-gray-400 mt-1">Team Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of card 3 contents  -->
        <!-- Card 4 contents  -->
        <div class="w-full sm:w-1/2 lg:w-1/4 sm:pl-1 g">
            <div class="bg-white sm:rounded-tl-lg h-full lg:rounded-br-md sm:rounded-br-md lg:rounded-bl-none sm:rounded-bl-none shadow-lg">
                <div class="flex-col py-4 px-6">
                    <p class="mt-1 font-semibold leading-3 text-gray-900">Job Position</p>
                    <div class="inline-flex items-center mt-1">
                        <%= image_tag "mark.png", height: 20, width: 20, class: "w-9 h-full rounded-lg mr-4" %>
                        <div class="inline-flex flex-col justify-center">
                            <p class="text-sm font-semibold leading-none text-gray-900">User Name</p>
                            <p class="text-xs leading-3 text-gray-400 mt-1">Team Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of card 4 contents  -->
    <% end %>
</div>
<!-- End of Header Card -->